@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgba: 255, 255, 255, 1;
  --background-end-rgba: 175, 172, 179, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgba: 40, 40, 40, 1;
    --background-end-rgba: 10, 10, 10, 1;
  }
}

a {
  transition: all 0.2s;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      135deg,
      rgba(var(--background-start-rgba)),
      rgba(var(--background-end-rgba))
    )
    rgba(var(--background-start-rgba));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
