@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --secondary-rgb: 11, 97, 125;
  --background-start-rgb: 0, 16, 7;
  --background-end-rgb: 0, 8, 30;
}

html {
  scroll-behavior: smooth;
}

section {
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  border-radius: 0.5rem;
  padding-bottom: 1rem;
}

section h2 {
  padding: 1rem 2rem;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--secondary-rgb));
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

section p,
section div {
  padding: 0 2rem 0.5rem 2rem;
}

.tech-category {
  margin-bottom: 0.5rem;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  animation: overflowAnimation 6s 1;
}

a {
  color: rgb(var(--secondary-rgb));
  transition: all 0.2s;
}

.project-link {
  color: rgb(var(--secondary-rgb));
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}

.project-link:hover {
  border-bottom: 1px solid rgb(var(--secondary-rgb));
}

.text-xs {
  font-size: 0.8rem;
}

main {
  opacity: 1;
  animation: opacity 0.5s ease;
}

header {
  width: 100vw;
  min-height: 10vh;
  animation: shrink 6s;
  overflow: visible;
}

footer {
  height: 10vh;
  transform: translateY(10vh);
  animation: fly-in-bottom 1s ease 5s forwards;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-title {
  transform: translateX(-100vw);
  text-shadow:
    -1px -1px 0 rgb(var(--foreground-rgb)),
    1px -1px 0 rgb(var(--foreground-rgb)),
    -1px 1px 0 rgb(var(--foreground-rgb)),
    1px 1px 0 rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  transition: 0.3s;
  animation: fly-in-left 2s ease 2s forwards;
  z-index: 2;
  letter-spacing: 0.1rem;
}

.subtitle {
  transform: translateX(100vw);
  transition: 0.3s;
  animation: fly-in-right 2s ease 2s forwards;
  z-index: 2;
  letter-spacing: 0.2rem;
  color: rgb(var(--foreground-rgb));
}

@media (min-width: 1024px) {
  .main-title,
  .subtitle {
    width: 45vw;
  }
}

.main-title-link {
  border: none;
}

.main-title-link:hover {
  border: none;
}

.main-title-link:hover .main-title {
  color: rgb(var(--foreground-rgb));
  text-shadow:
    -1px -1px 0 transparent,
    1px -1px 0 transparent,
    -1px 1px 0 transparent,
    1px 1px 0 transparent;
  border: none;
}

.main-title-link:hover .subtitle {
  color: rgb(var(--background-start-rgb));
  text-shadow:
    -1px -1px 0 rgb(var(--foreground-rgb)),
    1px -1px 0 rgb(var(--foreground-rgb)),
    -1px 1px 0 rgb(var(--foreground-rgb)),
    1px 1px 0 rgb(var(--foreground-rgb));
  border: none;
}

.animation-cols > div {
  transform: translateY(-100vh);
  z-index: 1;
  height: 100vh;
  background-color: rgb(var(--background-start-rgb));
  border-left: 1px solid rgba(var(--foreground-rgb), 0.7);
  animation:
    col-up 0.5s calc(var(--delay-up) * 2s + 1s) forwards,
    col-down 0.5s calc(var(--delay-down) * 2s + 3s) forwards;
}

.logo {
  filter: grayscale(1);
  transition: 0.2s;
}

@media (max-width: 640px) {
  .logo,
  .logo-bg {
    transform: scale(0.8);
  }
}

.main-title-link:hover .logo {
  filter: grayscale(0);
}

.logo-bg {
  z-index: 2;
  transform: scale(1);
  transition: 0.2s;
  background-color: rgb(var(--foreground-rgb));
  border: 1px solid transparent;
  animation: pulse 1s ease 1s;
}

.logo-bg {
  background-color: rgba(var(--foreground-rgb));
  border: 1px solid transparent;
}

.main-title-link:hover .logo-bg {
  background-color: transparent;
  border: 1px solid rgb(var(--foreground-rgb));
}

.animation-cols > div:nth-child(1) {
  --delay-up: 0;
  --delay-down: 1;
}

.animation-cols > div:nth-child(2) {
  --delay-up: 0.1;
  --delay-down: 1.1;
}

.animation-cols > div:nth-child(3) {
  --delay-up: 0.2;
  --delay-down: 1.2;
}

.animation-cols > div:nth-child(4) {
  --delay-up: 0.3;
  --delay-down: 1.3;
}

.animation-cols > div:nth-child(5) {
  --delay-up: 0.4;
  --delay-down: 1.4;
}

.animation-cols > div:nth-child(6) {
  --delay-up: 0.5;
  --delay-down: 1.5;
}

.social-link {
  border: 1px dashed rgb(var(--foreground-rgb));
  background-color: transparent;
  transition: all 0.2s;
}

.social-link-dark {
  border: 1px dashed rgb(var(--background-start-rgb));
  background-color: transparent;
  transition: all 0.2s;
}

.social-link-dark:hover {
  background-color: rgb(var(--background-start-rgb));
}

.social-link:hover {
  background-color: rgb(var(--foreground-rgb));
}

.social-link > img {
  filter: invert(1) brightness(100) grayscale(1);
}

.social-link:hover > img {
  filter: invert(0);
}

.social-link-dark:hover > img {
  filter: invert(1) brightness(100) grayscale(1);
}

.tech-icon {
  margin-right: 0.5rem;
}

@keyframes fly-in-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

details span {
  border: 1px solid lightgray;
  border-top: none;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  display: inline-block;
}

summary {
  margin-bottom: 2px;
  border-radius: 0.5rem;
  transition: all 0.2s;
  padding-left: 0.5rem;
  cursor: pointer;
}

details[open] summary {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@keyframes fly-in-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes fly-in-bottom {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes col-down {
  from {
    transform: translateY(0vh);
    height: 100vh;
  }
  to {
    transform: translateY(100vh);
    height: 0vh;
  }
}

@keyframes col-up {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes shrink {
  0%,
  65% {
    min-height: 100vh;
  }
  100% {
    min-height: 10vh;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes overflowAnimation {
  0%,
  99% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
